*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

img {
  display: block;
}

.span {
  color: #000000;
}

.span-white{
  color: #FFFFFF;
}
/*=========HEADER==========*/

.header {
  padding-top: 24px;
  padding-bottom: 25px;
}
.header .container {
  display: flex;
  align-items: center;
}

.header .address {
  margin-left: auto;
  
}

.contact-mail-link {
  margin-right: 50px;
}
.navigation {
  display: flex;
  align-items: center;
}

.navigation-list {
  display: flex;
}
.logo {
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: #2196f3;
  margin-right: 94px;
}

.address {
  font-style: normal;
}

.navigation-list-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
  color: #212121;
}

.navigation-list-item:not(:last-child) {
  margin-right: 50px;
}

.navigation-list-link:hover,
.navigation-list-link:focus,
.contact-mail-link:hover,
.contact-mail-link:focus,
.contact-tel-link:hover,
.contact-tel-link:focus
 {
  color: #2196f3;
}

.active{
  color: #2196f3
}


.contact-mail-link,
.contact-tel-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;

  color: #757575;
}
/*=========END HEADER==========*/
/*=========HERO=============*/


.hero-list-btn{
  display: flex;
  margin-top: 94px;
  justify-content: center;
}


.modal-btn {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.03em;
  background: #F5F4FA;
  border-radius: 4px;
  padding: 6px 22px;
  border: none;
}

.hero-list:not(:last-child){
  padding-right: 8px;
}

.modal-btn:hover, 
.modal-btn:focus
{
  color: #FFFFFF;
  background-color: #2196F3;
}
    .container-img{
      display: flex;
      margin-top: 34px;
    }
    
    .hero-list-gallery{
    display: flex;
    flex-wrap: wrap;
    }

     .hero-list-item{
     margin-right: 30px;
     margin-bottom: 30px;
     box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;
}
    .hero-list-item:nth-child(3n){
     margin-right: 0px;
    }

    .hero-list-item:nth-last-child(-n + 3){
      margin-bottom: 0px;
    }
    
.hero-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
  margin-top: 20px;
  margin-right: 24px;
  margin-left: 24px;
}

.description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: #757575;
  margin-top: 4px;
  margin-bottom: 20px;
  margin-right: 24px;
  margin-left: 24px;
}


/*========= ENDHERO=============*/

/*=========MAIN=============*/
.main {
  background-color: #2f303a;
  margin-left: auto;
  margin-right: auto;
}

.main .container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
  text-align: center;
  background-color: #2f303a;
}
.main-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.363;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 0;
  margin-bottom: 30px;
  padding-top: 200px;
  padding-right: 246px;
  padding-left: 246px;
}

.main-modal-btn {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  min-width: 200px;
  height: 50px;
  color: #ffffff;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 11px 32px;
  margin-bottom: 200px;
  border: none;
}
/*=========END MAIN=============*/
/*=========FEATURES=============*/
.features-list {
  display: flex;
  margin-top: 94px;
  margin-bottom: 94px;
}

.features-list-item:not(:last-child) {
  margin-right: 30px;
}
.features-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.features-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #757575;
}
/*=========END FEATURES=============*/
/*=========DOING=============*/

.doing-list {
  display: flex;
  margin-bottom: 94px;
}

.doing-title {
  margin-bottom: 50px;
}

.doing-list-item:not(:last-child) {
  margin-right: 30px;
}
.doing-title,
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.166;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
/*=========END DOING=============*/
/*=========TEAM=============*/
.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.187;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.team{
  background-color:#F5F4FA;
}
.team-title {
  margin-top: 94px;
  margin-bottom: 50px;
}
.team-list {
  display: flex;
}
.team-list-item:not(:last-child){
  margin-right: 30px;}
  .team-list-item{
    margin-bottom: 94px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;
  }
  .team-name{
    margin-top: 30px;
  }
  .team-job{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 30px;
  }

}
.team-job {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.187;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}

/*=========END TEAM=============*/

/*=========FOOTER=============*/

.footer{
  background-color: #2F303A;
}
.footer .container-portfolio{
  margin-top: 94px;
}
.footer .logo{
  display: flex;
  padding-top: 60px;
  margin-bottom: 20px;

}
.contact-address-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color:#FFFFFF;
}

.footer-list-link:not(:last-child){
  margin-bottom: 9px;
}
 
.footer-list-link-last{
padding-bottom: 60px;
}
/*=========END FOOTER=============*/
